<div style="background-color:silver">
<h3>
  Fmcgglobal Products</h3>
  <div *ngFor="let product of products">
    <!-- property is Binding..-->
    <a [title]="product.name + ' details'">
      <!-- String interpolation (data binding)-->
      {{product.name}}
    </a>
<style>
  button
  {
    background-color:blue;
  }
</style>
<!-- Structural directive -->
<p *ngIf="product.description">Description:{{product.description}}</p>
<!-- event binding-->
<button type="button" (click)="share()">share</button>
&nbsp;
<button type="button" (click)="buy()">buy</button>
&nbsp;
<button type="button" (click)="start()">start</button>
<app-product-alter [productInside]="product" (notify)="onNotify()">
&nbsp;
</app-product-alter>
</div>