<div style="background-color:yellow"></div>
<h3>
  Fmcgglobal Products
  <div *ngFor="let product of products">
    <!-- property is Binding..-->
    <a [title]="product.name + ' details'">
      <!-- String interpolation (data binding)-->
      {{product.name}}
    </a>
</h3>
<!-- Structural directive -->
<p *ngIf="product.description">Description:{{product.description}}</p>
<!-- event binding-->
<button type="button" (click)="share()">share</button>
&nbsp;
<button type="button" (click)="buy()">buy</button>
</div>